.contactlist{
    display: flex;
    background-color: rgb(196, 214, 215);
    width: 70%;
    position: relative;
    left: 15%;
    margin-top: 10px;
    border: 1px solid rgb(160, 160, 253);
    border-radius: 14px;
    justify-content: space-between;
}
.contactlist img{
 width: 90px;
}
.contactName{
    display: flex;
   text-decoration: none;
   color: black;
}
.contactDetails{
    margin-left: 30px;
    font-size: 30px;
    font-weight: 400;
}
.upAndDel{
letter-spacing: 4px;    
}
.upAndDel img{
    width: 40px;
}
.cursor{
    cursor: pointer;
}